* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
  font-family: 'Crimson Text', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
    padding-left: 20%;
    padding-right: 20%;

    }


.azul{
  background-color: #155ED9;
  color: white;
  }   

.pink{
  background-color: #d915bf;
  color: white;
  }  

h1{
font-size: 45px;
/* font-family: ; */
}

h2{
    font-size: 30px;
    }

h3{
font-size: 22px;
}


